.mainbox{
    background-color: beige;
    height:600px;
    width:900px;
    margin-left:auto;
    margin-right:auto;
    margin-top:60px;
    margin-bottom:auto;
    display:flex;
}
.subbox1{
    
    width:65%;
    height:100%; 
    background-color: #00203FFF;
    
}
.subbox2{
     
    
    height:100%; 
    width:35%;
    background-color:#ADEFD1FF ;

}
.headingsb1{
    font-family: Arial, Helvetica, sans-serif;
    /* border:solid; */
    color: #ADEFD1FF;
    padding-left: 44%;
    padding-top:20%;
    font-size: 1.7em;
}
.ufield{
    /* border:solid; */
    padding-bottom:25px;
   
    
}
.ufield input{
    margin:auto;
    display: block;
    height:35px;
    width:325px;


}

.pfield input{
    margin:auto;
    display: block;
    height:35px;
    width:325px;
    

}

.lbtn button{
    margin:auto;
    display:block;
    height:40px;
    width:150px;
    font-size:1.3em;
    margin-top:20px;
    background-color:#ADEFD1FF;
}

.pbtn button{
    margin:auto;
    display:block;
    height:40px;
    width:150px;
    font-size:1.3em;
    margin-top:20px;
    background-color:#ADEFD1FF;
}
.titlesite{
    /* border:solid; */
    margin-top:15%;


}
.titlesite h2{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(25, 81, 137);
    font-size: 1.5em;
    font-weight: bolder;



}
.titlesite2 h1{
    text-align: center;
    
    color: #D34F73FF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.des{
    /* border:solid; */
    margin-top:30px;
    


}
.des p{
    text-align:center;
    font-size:1.1em;
    font-weight:bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(25, 81, 137);

}
.des2 p{

    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(25, 81, 137);
}
.logo{
    /* border:solid; */
    padding:0%;
    margin-top:60px;
    
}
.logo img{
    margin:auto;
    display:block;
    
}