<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/homepage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo">
    <title>Document</title>
</head>

<body>
    
    <div class="upperside">
       <!-- <div class="carimage">
            <div img src="static/css/Pictureshomepage/carbg.jpg"></div>
        </div>
        <div class="wrap"><a href="{{'loginpage'}}"><div class="lgbtn"><button>Login</button></div></a></div>
        <div class="wraps"><a href="{{'register'}}"><div class="sgbtn"><button>Sign-in</button></div></a></div>!-->
        <div class="wrap">
            <div class="lgbtn"><a href="{{'loginpage'}}"><button>Login</button></div>
            <div class="sgbtn"><a href="{{'register'}}"><button>Sign-in</button></div>
        </div>
        <div class="wrapper">
            <div class="predbtn"><button>PREDICT CAR PRICE</button></div>
        </div>
    </div>
    <div class="info">
        <div class="card1">
            <h2> Price Prediction</h2>
                <ul class="features">
                    <li>Real Time Analysis</li>
                    <li>Accurate Prediction</li>                         
                    <li>Get The Best Quote</li>
                </ul>

        </div>
        <div class="card1">
            <h2>Car Buying</h2>
            <ul class="features">
                <li>Plethora of Cars</li>
                <li>Appropriate Details</li>
                <li>Hassle-Free User Experience</li>

            </ul>
        </div>
        <div class="card1">
            <h2>Car Selling</h2>
            <ul class="features">
                <li>Trusted Buyers</li>
                <li>Wide Exposure</li>
                <li>Authorized Buyers</li>

            </ul>

        </div>
    </div>





</body>

</html>